
.red{
    color:red;
    font-family:"Comic Sans MS", cursive, sans-serif ;
}
body{
            background-color: rgb(58,58,58);
            background-image: url("background.PNG");
            background-size: cover;
            text-align: center;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        
        h1,h2{
            color:rgb(158,158,158)
        
        }
        .hi{
            color: rgb(212, 26, 26);
        }
        p{
            color: white;
            
        }
        span{
            color:aquamarine;
            font-size: large;
            font-family: cursive;
        }
        img{
            margin: auto;
            height: 400px;
            width:370px;
            padding:30px ;
            border-radius: 50px;
        }
        .insta{
            margin: auto;
            color:rgb(0, 0, 0);
            height: 60%;
            width: 40%;
            padding:20px;
            border:solid;

        }
        .coding{
            color:black;
            background-color: rgba(255, 235, 205, 0.945);
            font-weight: 400px;
            font-size: larger;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        li{
           
            list-style: None;
        }
        .btn{
            float: left;
            background-color: rgba(255, 235, 205, 0.945);
            font-weight: 400px;
            font-size: larger;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-bottom: 200px;

        }
        a:hover{
           font-size: x-large;
        }
        .green{
            background-color: rgb(47, 145, 47);
            margin-left: 35%;
            margin-right: 10%;
            border-radius: 10px;
           color:white;
           font-weight: 600px;
           padding:20px;
        }
        .brown{
            background-color:rgb(134, 29, 29);
            border-radius: 10px;
            margin-right: 10%;
            color:white;
            font-weight: 600px;
            padding:20px;
        }
        .web{
            padding:20px;
            margin:auto;
        }
        .footer{
            color:white;
        }
        .fb{
            color:white;
            background-color: rgb(rgb(180, 61, 61), rgb(50, 160, 50), rgb(28, 28, 158));
        }
        .Linkedln{
            color:white;
            background-color: rgb(rgb(180, 61, 61), rgb(50, 160, 50), rgb(28, 28, 158));
        }
        .c{
            color:white;
                 
            
        }